{% extends('::base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="" href="">
{% endblock %}

{% block title %}
    {{ parent() ~ ' - homepage' }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <p>This is my home page !</p>

    <h1>Liste d'articles</h1>
    {% include('AppBundle:Article/Partial:list.html.twig') %}

{% endblock %}