{% extends('::base.html.twig') %}

{% block body %}
        <div class="panel panel-default col-md-offset-1 col-md-10">
                <div class="panel-body">
                        <h3>Ajout d'un Article</h3>
                        <hr>
                        {{ form(form) }}
                </div>
        </div>
{% endblock %}