{% extends('::base.html.twig') %}

{% block body %}
    <div class="panel panel-default col-md-offset-1 col-md-10">
        <div class="panel-body">
            <h1>Modifier un article</h1>
            <hr>
            {{ form(form) }}
        </div>
    </div>

{% endblock %}